name: CI

on:
  push:
    branches: [ '*' ]

env:
  CARGO_TERM_COLOR: always

jobs:
  build:
    runs-on: macos-latest

    steps:
    - uses: actions/checkout@v4
    - uses: dtolnay/rust-toolchain@stable

    - name: Add iOS targets
      run: rustup target add aarch64-apple-ios aarch64-apple-ios-sim x86_64-apple-ios

    - name: make xcframework archive
      run: make zip

    # - uses: actions/upload-artifact@v4
    #   with:
    #     name: RustXcframework.xcframework.zip
    #     path: ./RustXcframework.xcframework.zip

    - name: Release
      uses: softprops/action-gh-release@v2
      with:
        # prerelease: ${{ contains(github.ref, '-') }}
        files: |
          ./RustXcframework.xcframework.zip